<div style="width: 50%;float: left; min-height: 50vh;">
    <h1>{{ topTenTitle }}</h1> <span>Sortieren nach: <a href="/report/order/cases">Fälle</a> <a href="/report/order/topTen">TopTen</a></span>		
    <p>
        <ol style="margin-left: 2em;">
            {% for item in topTen %}
                <li> 
                    <p>
                        <img width="21" height="10" src="{{ item.flagUrl }}"> {{ item.country }}
                    </p>
                </li>
            {% endfor %}
        </ol> 
    </p>
</div>
<div style="width: 100%;">
    <h1 style="text-align: center;">Alle Länder</h1>
    <ul>
        {% for item in countries %}
            <li style="display: block; width: 25%; float: left;">
                <a href="/report/{{item.countryCode}}">
                    <img width="50" height="25" src="{{ item.flagUrl }}"> {{ item.countryCode }} - {{ item.country }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>    
